html, body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.link {
    display: block;
    margin-top: 5px;
}

.home-link {
    font-size: 30px;
    margin: 5vw 0 15px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link-container {
    font-size: 16px;
    position: relative;
    color: #fff;
}

#link-arrow {
    transition: .2s all;
    position: absolute;
    left: -32px;
}

.gallery-image-wrapper {
    position: relative;
    margin-top: 5vw;
}

.gallery-image-wrapper:hover {
    cursor: pointer;
}

.gallery-image {
    width: 100% !important;
    height: auto !important;
    transition: .5s opacity;
    opacity: 0;
}

.gallery-image.lazy-load-image-loaded {
    opacity: 1;
}

.gallery-image-enlarger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.enlarged {
    transition: .5s opacity;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000e6;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlarged-img {
    width: 97%;
    height: 97%;
    object-fit: contain;
}

.section-header {
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}

.section {
    background: #fff;
    width: 100%;
    padding-bottom: 5vw;
}

.content {
    overflow-x: hidden;
}

.gallery-column {
    width: 20%;
    flex: 1;
}

.links-bg {
    transition: .6s opacity;
    background: #000;
    width: 100%;
    height: 100%;
}

.section-container {
    width: 80%;
    margin: 0 auto;
}